<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1a391047f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:600|Inconsolata|Lato">
  <link rel="stylesheet" href="/css/style.css">

  <title>Tech Blog</title>
</head>

<body>

  <header>
    <nav> 
      <span style="color:#9ad4d6"><i class="fa-brands fa-blogger fa-3x"></i></span>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="#" id="logout-link">LOGOUT</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}

    <div class="new-post">
      <button class="btn" onclick="location.href='/dashboard/new'">+ New Post</button>
    </div>
  </main>

  <script src="/js/logout.js"></script>
</body>

</html>