<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/1a391047f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:600|Inconsolata|Lato">
  <link rel="stylesheet" href="/css/style.css">

  <title>Tech Blog</title>
</head>

<body>

  <header>
    <nav class="topnav">
      <span style="color:#9ad4d6"><i class="fa-brands fa-blogger fa-3x"></i></span>
      <!-- Navigation links (hidden by default) -->
      <ul id="myLinks">
        <li><a href="/">HOME</a></li>
        <li><a href="/dashboard">DASHBOARD</a></li>
        <li><a href="/login">LOGIN</a></li>
      </ul>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa-solid fa-bars"></i>
      </a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
</body>

</html>