<div class="page-wrapper">
  <h2>Home</h2>
  <div class="container">
    {{#each posts as |post|}}
    <div class="blog-container">
      <a class="post-header" href="post/{{post.id}}">
        <p class="post-title">{{post.title}}</p>
        <p class="post-date">{{format_date post.createdAt}}</p>
      </a>
    </div>
    {{/each}}
  </div>
</div>
