<div class="page-wrapper">
  <div class="container">
    <div class="section-container login-container">
      <div class="card-header">
        <h2 class="post-title">Login</h2>
      </div>

      <form id="login-form">
        <div class="form-content">
          <label for="username">username</label>
          <input name="username" id="username">

          <label>password</label>
          <input name="password">
        </div>
        
        <button type="submit" class="btn">Log In</button>
      </form>
      <div class="alt-link">
        <a href="/signup">Don't have an account? Sign up here.</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>