<div class="page-wrapper">
  <div class="container">
    <div class="section-container">
      <div class="card-header">
        <h2 class="post-title">New Post</h2>
      </div>

      <form id="new-post-form">
        <div class="form-content">
          <label>Title</label>
          <input id="title" name="title">

          <label>Content</label>
          <textarea id="content" name="content"></textarea>
        </div>
        <button type="submit" class="btn">Create Post</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/newPost.js"></script>