<div class="page-wrapper">
  <div class="container">
    <div class="section-container" style="width: 40%">
      <div class="card-header">
        <h2 class="post-title">Sign Up</h2>
      </div>

      <form id="signup-form">
        <div class="form-content">
          <label for="username">username</label>
          <input name="username" id="username">

          <label>password</label>
          <input name="password">
        </div>

        <button type="submit" class="btn">Sign Up</button>
      </form>
      <div class="alt-link">
        <a href="/login">Already have an account? Log in here.</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>