:root {
  --dark: #101935;
  --purple: #564787;
  --lavendar: #dbcbd8;
  --teal: #9ad4d6;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--lavendar);
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Exo 2", sans-serif;
  margin: 0.5em 0;
}

p {
  margin: 0.5em 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: var(--dark);
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
}

nav a {
  font-size: 1.2em;
  color: var(--teal);
}

ul {
  display: flex;
  gap: 15%;
  list-style-type: none;
  margin-block: 0;
}

.page-wrapper {
  margin: 2em 1em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post .btn {
  position: absolute;
  bottom: 1em;
  padding: 0.5em 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

.blog-container {
  width: 80%;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.2em;
  color: var(--teal);
  background-color: var(--dark);
  border-radius: 1em;
  margin-bottom: 0.5em;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  color: var(--teal);
  background-color: var(--dark);
  border-radius: 10px 10px 0 0;
}

.post-title {
  font-family: "Exo 2", sans-serif;
  font-size: 1.2em;
}

.section-container {
  width: 80%;
  border: 4px solid var(--dark);
  border-radius: 20px;
  margin-bottom: 2em;
}

.post-content {
  padding: 0.5em 1em;
  text-align: left;
}

.created-by {
  text-align: right;
  font-style: italic;
}

.comments {
  text-align: left;
  padding: 0.5em;
}

.comment-date {
  font-style: italic;
}

.form-body {
  padding: 1em;
}

/*  --------------  */
/* | form related | */
/*  --------------  */

form {
  padding-top: 1em;
  width: 85%;
  margin: auto;
}

.form-content {
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

label {
  font-family: "Exo 2", sans-serif;
}

textarea {
  display: block;
  min-height: 5em;
}

button.btn {
  font-family: "Exo 2";
  color: var(--lavendar);
  background-color: var(--dark);
  border-radius: 5px;
  font-size: 1.2em;
  margin: 0.5em;
  padding: 3px 12px;
  text-align: center;
}

.alt-link {
  padding: 0.5em;
}

.alt-link a {
  font-family: "Exo 2";
  color: var(--purple);
}