:root {
  --dark: #101935;
  --purple: #564787;
  --lavendar: #dbcbd8;
  --teal: #9ad4d6;
}

/*  --------------------- */
/* |   GENERAL STYLING  | */
/* ---------------------  */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--lavendar);
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Exo 2", sans-serif;
  margin: 0.5em 0;
}

p {
  margin: 0.5em 0;
}

/*  --------------------- */
/* |     NAVIGATION     | */
/* ---------------------  */

.topnav {
  overflow: hidden;
  position:relative;
  padding: 1em;
  background-color: var(--dark);
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  font-size: 1.2em;
  color: white;
  padding: 7px 8px;
  display: block;
}

ul {
  display: flex;
  gap: 15%;
  list-style-type: none;
  margin-block: 0;
}

/* Style the hamburger menu */
.topnav a.icon {
  color: var(--teal);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5em;
}

.icon i {
  font-size: 1.5em;
}

/*  ----------------------- */
/* |  SITE WIDE STYLING   | */
/* -----------------------  */

.page-wrapper {
  margin: 2em 1em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  width: 80%;
  border: 4px solid var(--dark);
  border-radius: 20px;
  margin-bottom: 2em;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  color: var(--teal);
  background-color: var(--dark);
  border-radius: 10px 10px 0 0;
}

.post-title {
  font-family: "Exo 2", sans-serif;
  font-size: 1.2em;
}

.post-content {
  padding: 0.5em 1em;
  text-align: left;
}

/*  ----------------------- */
/* |    SIGNUP & LOGIN    | */
/* -----------------------  */

.alt-link {
  padding: 0.5em;
}

.alt-link a {
  font-family: "Exo 2";
  color: var(--purple);
}

/*  ----------------------- */
/* | HOMEPAGE & DASHBOARD | */
/* -----------------------  */

.blog-container {
  width: 80%;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.2em;
  color: var(--teal);
  background-color: var(--dark);
  border-radius: 1em;
  margin-bottom: 0.5em;
}

.new-post .btn {
  position: absolute;
  bottom: 1em;
  padding: 0.5em 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

/*  ----------------------- */
/* |  SINGLE POST PAGE    | */
/* -----------------------  */

.created-by {
  text-align: right;
  font-style: italic;
}

.comments {
  text-align: left;
  padding: 0.5em;
}

.comment-date {
  font-style: italic;
}

/*  -------------------- */
/* |       FORMS       | */
/* --------------------  */

form {
  padding-top: 1em;
  width: 85%;
  margin: auto;
  font-family: "Exo 2", sans-serif;
}

.form-content {
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  font-family: "Lato",sans-serif;
}

textarea {
  display: block;
  min-height: 5em;
}

button.btn {
  font-family: "Exo 2";
  color: var(--lavendar);
  background-color: var(--dark);
  border-radius: 5px;
  font-size: 1.2em;
  margin: 0.5em;
  padding: 3px 12px;
  text-align: center;
}

/*  ----------------------- */
/* |  RESPONSIVE DESIGN   | */
/* -----------------------  */

@media screen and (min-width: 769px) {
  .login-container {
    width: 60%;
  }
}

@media screen and (min-width: 1025px) {
  .login-container {
    width: 40%;
  }
}

@media screen and (min-width: 481px) {
  .topnav {
    display: flex;
    align-items: center;
  }

  .topnav a.icon {
    display: none;
  }

  .topnav #myLinks {
    display: flex;
  }

  .topnav a {
    color: var(--teal);
  }
}